a.cssmousover {
	display: block;
	width: 300px;
	height: 222px;
	background-position: 0px 0px;
}

a.cssmousover:hover {
	background-position: 0px -222px;
}

a.earth {
	display: block;
	width: 537px;
	height: 537px;
	background-position: 0px 0px;
}

a.earth:hover {
	background-position: 0px -537px;
}


p{
    color: #6F7D80;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	text-align:center;
	margin: 40px auto;
	line-height: 145%;
	font-size: 21pt;
}
p.name{
	font-size: 48pt;
}


/*
The about
*/

h2 {
	margin-bottom: 12px;
	font-size: 35px;
	font-family: "league-gothic-1","league-gothic-2";
	text-transform: uppercase;
	border-bottom: 2px solid #626D6F;
	padding-bottom: 2px;
	color: #626D6F;
}
.facts h2 {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: .01em;
	border-bottom: 2px solid #6F7D80;
	color: #6F7D80;
	padding-bottom: 3px;
	margin-bottom: 10px;
	display: inline-block;
	font-family: "league-gothic-1","league-gothic-2";
}
#about{
	position: absolute;
	width: 850px;
	height: 681px;
	left: -50%;
	top: 50%;
	margin: -330px 0 0 -425px;
	z-index: 900;
}

#me {
	float: left;
	margin-right: 30px;
}
.facts {
margin-bottom: 30px;
}

.facts ul{
	position: relative;
	left: 15px;
}

.facts p, .facts li {
	left:30px;
	font-family: "adelle-1","adelle-2";
	font-size: 14px;
	color: #626D6F;
	width: 830px;
	text-align: left;
	margin: 0 0;
	font-variant: normal;
	list-style-type: disc;
	
}

#skills {
	float: left;
	width: 338px;
	margin-right: 35px;
}


#skills p {
	float: left;
	font-family: "league-gothic-1","league-gothic-2", Helvetica, Arial, sans-serif;
}


p.bar {
	height: 22px;
	background-color: #626D6F;
	display: inline-block;
	font-size: 17px;
	text-transform: uppercase;
	color: #C0CCCE;
	letter-spacing: .04em;
	line-height: 24px;
	padding-left: 6px;
	margin: 0 6px 7px 0;
}

p.percent {
	float: right;
	font-size: 22px;
	color: #626D6F;
	line-height: 24px;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
#skills  ul li {
	clear: both;
	margin: 0 0 0 0;
}

#skills ul{
	border-bottom: 2px solid #626D6F;
	padding-bottom: 32px;
	margin-bottom: 2px;
}

ul {
	margin: 0 0 0 0;
	list-style-type: none;
}


#contact {
	float: left;
}

#contact h2 {
	font-size: 30px;
	width: 202px;
	margin-bottom: 12px;
}


@font-face{
	font-family: socialFonts;
	src: url('Socialico.ttf'), url('Socialico.otf');
}

#social{
	margin-top: 0px;
	font-family:socialFonts;
	font-size: 60px;
	float: left;
}

#contact ul {
	position: relative;
}

#contact ul li{
	position: relative;
	height: 40px;
	top: 12px;
	display: block;
	text-decoration: none;
	margin-left: 22px;
}

a{
	color: #626D6F;
}

a:hover{
	color: #08C;
	text-decoration: none;
}

#resume {
	width: 202px;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	display: block;
	top: 50px;
}

#grab{
	font-family: "league-gothic-1","league-gothic-2";
	text-transform: uppercase;
	font-size: 24px;
	border-bottom: 2px solid #626D6F;
	padding-bottom: 20px;
	float: right;
	padding-bottom: 10px;
}

/*
The spinner
*/



.spinner-container{
	display:table;
	margin: 0 auto;
	padding-top:50px;
}
.spinner-container .spinner {
	font-size: 100px;
    width: 1em;
    height: 1em;
    position: relative;
    margin: auto auto;
    border-radius: 50%;
    list-style: none;
    }

.spinner-container .spinner li {
    position: absolute;
    width: .2em;
    height: .2em;
    border-radius: 50%;
}

.spinner-container .spinner li:nth-child(1) {
    left: 50%;
    top: 0;
    margin: 0 0 0 -.1em;
    background: #00C176;
    -webkit-transform-origin: 50% 250%;
    -moz-transform-origin: 50% 250%;
    -ms-transform-origin: 50% 250%;
    -o-transform-origin: 50% 250%;
    transform-origin: 50% 250%;
    -webkit-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
}

.spinner-container .spinner li:nth-child(2) {
    top: 50%; 
    right: 0;
    margin: -.1em 0 0 0;
    background: #FF003C;
    -webkit-transform-origin: -150% 50%;
    -moz-transform-origin: -150% 50%;
    -ms-transform-origin: -150% 50%;
    -o-transform-origin: -150% 50%;
    transform-origin: -150% 50%;
    -webkit-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
}

.spinner-container .spinner li:nth-child(3) {
    left: 50%; 
    bottom: 0;
    margin: 0 0 0 -.1em;
    background: #FABE28;
    -webkit-transform-origin: 50% -150%;
    -moz-transform-origin: 50% -150%;
    -ms-transform-origin: 50% -150%;
    -o-transform-origin: 50% -150%;
    transform-origin: 50% -150%;
    -webkit-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
}

.spinner-container .spinner li:nth-child(4) {
    top: 50%; 
    left 0;
    margin: -.1em 0 0 0;
    background: #88C100;
    -webkit-transform-origin: 250% 50%;
    -moz-transform-origin: 250% 50%;
    -ms-transform-origin: 250% 50%;
    -o-transform-origin: 250% 50%;
    transform-origin: 250% 50%;
    -webkit-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
}

@-webkit-keyframes rota {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rota {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes rota {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes rota {
    to { -o-transform: rotate(360deg); }
}

@keyframes rota {
    to { transform: rotate(360deg); }
}

@-webkit-keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-moz-keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-ms-keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-o-keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}


