@main("About Alpár Gábos") {

<div id="about" style="display: block; left: 50%; padding-top:30px;">
			<img src="@routes.Assets.at("images/businessman.png")" id="me" alt="Alpár Gábos photo">
		
			<div class="facts">
				<h2>Hi, my name is Alpár Gábos</h2>
				<p>I am a software developer living in Budapest, Hungary. Working for NSN as Scrum Master, lead developer and architect.</p>
			</div>
			<div class="facts bottom">
				<h2>Facts about me</h2>
				<ul>
					<li>I am a dual citizen of Hungary and Roamania (don't be fooled by the country name I'm a real Szekler).</li>
					<li>I really enjoy programming(I mostly do in Java).</li>
					<li>I love reading, writing and teaching about how to write better, cleaner, maintenable code faster.</li>
					<li>You can't scare me with a functional language!</li>
					<li>I can speak well in front of a big crowd.</li>
					<li>The amount of movie and anime knowledge I have would scare you.</li>
					<li>I have an addiction towards the sweet things:)</li>
					<li>Mostly I relax my mind in the gym (ohh man, I hate leg days).</li>
				</ul>
			</div>
		
			<div id="skills">
				<h2>Skill Set</h2>
				<ul class="skills">
					<li>
						<p class="bar" style="width:95%;">Java</p>
					</li>
					<li>
						<p class="bar" style="width:90%;">TDD</p>
					</li>
					<li>
						<p class="bar" style="width:95%;">Scrum</p>
					</li>
					<li>
						<p class="bar" style="width:40%;">HTML/CSS</p>
					</li>
				</ul>
			</div>
		
			<div id="contact">
				<h2>Socializing</h2>
				<ul>
					<li class="social"><a href="mailto:jr_alpar at yahoo.com">Y</a></li>
					<li class="social"><a href="https://twitter.com/AlparGabos" onclick="window.open(this.href);return false;">T</a></li>
					<li class="social"><a href="http://www.facebook.com/alpar.gabos.3" onclick="window.open(this.href);return false;">F</a></li>
				</ul>
			</div>
		
			<div id="resume">
				<a href="GabosAlparCV.pdf"><h2>Download my CV</h2></a>
			</div>
		</div>

}
