	@main("Blog of Alpár Gábos") {

<div style="left: 0px; width: 370px;">
	<ul>
		<li class="span4"><a href="/about" class="cssmousover"
			style="background-image: url('@routes.Assets.at("images/about_hover.png")')";">
		</a></li>
		<li class="span4"><a href="/programming" class="cssmousover"
			style="background-image: url('@routes.Assets.at("images/programming_tile.png")')";">
		</a></li>
		<li class="span4"><a href="/life" class="cssmousover"
			style="background-image: url('@routes.Assets.at("images/life_tile.png")')";">
		</a></li>
	</ul>
	<div class="spinner-container">
		<ul class="spinner">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>

	}
