@(message: String)



	@main(message + " by Alpár Gábos") {

<p class="name">Alpár Gábos</p>
<p>Blog full of thoughts, ideas and knowledge snipetts about life & programming.</p>

<div style="display:table;margin: 0 auto;">
	<ul>
		<li class="span4"><a href="/about" class="image about"
			style="background-image: url('@routes.Assets.at("images/index_tiles_reverse.png")')";">
		</a></li>
		<li class="span4"><a href="/programming" class="image life"
			style="background-image: url('@routes.Assets.at("images/index_tiles_reverse.png")')";">
		</a></li>
		<li class="span4"><a href="/life" class="image programming"
			style="background-image: url('@routes.Assets.at("images/index_tiles_reverse.png")')";">
		</a></li>
	</ul>
	</div>
	<div class="spinner-container">
		<ul class="spinner">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>

	}
