@main("About Alpár Gábos") {
<style type="text/css">
.text-wrapper {
	padding: 10px 0;
	color: #626D6F;
}
.wrapper {
}
</style>
<div class="wrapper">
	<div class="text-wrapper">
		<div style="padding: 65px 0px 52px 20px; float: left; font-size: 200px;">
			404
		</div>
		<div style="float: left;">
			<div
				style="font-size: 52px; border-bottom: 16px solid #626D6F; padding-bottom: 20px; padding-top: 52px;">
				Huston we have a problem!</div>
			<div
				style="font-size: 31px; padding-bottom: 14px; padding-top: 14px;">
				We can't seem to find what you are looking for</div>
		</div>
		<div style="clear: both; padding: 52px 0px 20px 20px;">
			<a href="/" style="font-size: 98px;"> Let us take
				you home! </a>
		</div>
		<div style="max-width: 990px;">
		<center>
			<img src="@routes.Assets.at("images/planet_earth_black_white.png")">
		</center>
		</div>
	</div>
</div>
}